*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-size: 100px;
}

.center {
  width: 200px;
  margin: 200px auto;
}

.box {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
